<ul class="list-group">
  <li [ngClass]="getAllColorClass()" (click)="clearCurrentColor()" routerLink="/cars">Colors</li>
  <li
    *ngFor="let color of colors"
    [ngClass]="getCurrentColorClass(color)"
    class="list-group-item d-flex justify-content-between align-items-center"
  >
    {{ color.colorName }}
    <button
      (click)="navigateUpdateColor(color)"
      class="btn btn-warning btn-sm"
    >
      Update
    </button>
  </li>
</ul>

<h5 *ngIf="currentColor">{{ currentColor.colorName }} selected</h5>
