<main class="form-signin w-100 m-auto">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating">
          <select formControlName="email" class="form-control" id="email">
              <option *ngFor="let email of emails" [value]="email">{{ email }}</option>
          </select>
          <label for="email">Username (E-mail)</label>
      </div>

      <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
      </div>

      
      
      <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
