<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Details</th> 
    </tr>
  </thead>
  <tr *ngFor="let car of cars"  >
    <td>{{ car.carName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>
      <button (click)="viewCarDetail(car.carId)">View Details</button>
    </td>
  </tr>
</table>
