<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<!-- Başlangıç -->

<div>
  <label for="brandSelect">Marka Seçiniz:</label>
  <select [(ngModel)]="selectedBrandId" id="brandSelect" class="form-select">
    <option [value]="0">Tüm Markalar</option>
    <option *ngFor="let brand of brands" [value]="brand.brandId">
      {{ brand.brandName }}
    </option>
  </select>
</div>

<div>
  <label for="colorSelect">Renk Seçiniz:</label>
  <select [(ngModel)]="selectedColorId" id="colorSelect" class="form-select">
    <option [value]="0">Tüm Renkler</option>
    <option *ngFor="let color of colors" [value]="color.colorId">
      {{ color.colorName }}
    </option>
  </select>
</div>
<button (click)="filterCars()" class="btn btn-primary mt-3">Filtrele</button>
<!-- son -->
 <hr>
 <div class="mb-3">
  <label for="combinedFilterText" class="form-label">Filtrele</label>
  <input type="text" [(ngModel)]="combinedFilterText" class="form-control" id="combinedFilterText" placeholder="Model, Marka veya Renk girin">
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Details</th> 
    </tr>
  </thead>
  <tr *ngFor="let car of cars | filter:combinedFilterText" >
    <td>{{ car.carName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>
      <button (click)="viewCarDetail(car.carId)">View Details</button>
    </td>
  </tr>
</table>

